.main_border {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#title {
    margin-top: 10px;
}

label { 
    text-align: left;
    white-space: nowrap;
}

legend { 
    text-align: left;
    white-space: nowrap;
}

.stay_left {
    text-align: left;
    white-space: nowrap;
}

.keep_left {
    text-align: left;
}

.search_panel {
    width: 90%;
    margin: auto;
}

#mapsTab {
    height: 300px;
    width: 100%;
}

.result_panel {
    margin: auto;
    width: 85%;
}

.result_panel td{
    vertical-align: middle;
}

.red_star {
    color: red;
}

.yellow_star {
    color: gold;
}

.category_icon {
    width: 35px;
}

.icon {
    width: 44px;
    height: 38px;
}

.button_border {
    border-width: 1px;
    border-style: solid;
    border-color: silver;
}

::ng-deep .tab:first-child {
    margin-left: auto;
}

.keep_right {
    margin-left: auto;
}

.keep_center {
    margin: auto;
}

.no_padding {
    padding: 0px;
}

.no_margin {
    margin: 0px;
}

.stars_outer {
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
}

.stars_inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars_outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    opacity: 0;
}

.stars_inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: orange;
}

.no_text_decoration {
    text-decoration: none;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 4;
        display: none;
    }
}

@media (max-width: 576px) {
    #photo-display-sm {
        display: none;
    }
}

.photo_border {
    padding: 2px;
}

.photo_margin {
    margin: 5px;
}

.profile_icon {
    width: 70px;
    height: 70px;
}

.review_table {
    text-align: left;
}

.review_table td {
    vertical-align: top;
}

.orange_star {
    color: orange;
}

.gray_text{
    color: gray;
}